{% extends 'assistant/layout.html' %}
{% load static %}

{% block title %}Área Administrativa{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'assistant/styles/styles.css' %}">
<link rel="stylesheet" href="{% static 'assistant/styles/admin-area.css' %}">
{% endblock %}

{% block content %}
<h1 class="admin-title">Área Administrativa</h1>

<div class="admin-buttons">
    <a href="{% url 'admin_user_list' %}">
        <button class="admin-btn">Gerenciar Usuários</button>
    </a>

    <a href="{% url 'admin_vector_base' %}">
        <button class="admin-btn">Gerenciar Bases de Dados</button>
    </a>
</div>
{% endblock %}
